.App {
  text-align: center;
  margin: 40px;
}
li{
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 1em;
}
li>button{
  border: 1px solid black;
  background-color: aquamarine;
  color: black;
  width: fit-content;
  height: 2em;
  margin-left: 1em;
}
